
<div class="center jumbotron">
	

	<h1>Richard's blog</h1>
	<p>Home Page</p>

	<% if logged_in? %>

	<% else %>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<% end %>
	
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
